li {
	background-color: #c66377;
	margin: 10px;
	padding: 5px;
	font-family: sans-serif;
	color: white;
}

.text {
	background-color: #9f354b;
	padding: 5px;
}

ol {
	list-style-type: none;
	background-color: #ef9eaf;
	padding: 10px;
}
